<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
    
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/config.css" />
    <title>MashUp Generator</title>
  </head>
  <body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <p class="navbar-brand">Qlik Sense MashUp</p>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
          <ul class="navbar-nav me-auto">
            <i class="fa fa-home" style="margin-top: -1px;"></i>
            <li class="nav-item">
              <a class="nav-link" href="/main">Home</a>
            </li>

            <li class="nav-item active">
              <a class="nav-link" href="/config">Configuration</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/adduser">Users</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/mashup">MashUp</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <span style="font-size: larger;">
              {{name}} 
            </span>
            <a
              class="btn btn-outline-danger my-2 my-sm-0"
              role="button"
              href="/register"
            >Logout</a>
          </form>
        </div>
      </div>
    </nav>

    <div class="container list pt-4 pb-5">  
      <form action="/auth/addMashup" method="POST">
        <div class="text-center pt-3">
          <p class="display-7 fw-bold">Create<span class="ps-1">
              MashUp</span></p>
          <small class="d-flex align-items-center justify-content-center mb-3">
          </small>
        </div>
        <div class="row px-md-4 px-1 m-0">
          <div class="col-12">
            <div>
              <p class="pb-1 username">MashUp Name</p>
              <input
                type="text"
                id="name" name="name"
                class="name form-control mb-4"
                placeholder="Enter Your MashUp Name"
                required
              />
            </div>
          </div>
          <div class="col-12">
            {{!-- <button ></button> --}}
            <select class="form-control mb-4" id="app1" onclick="getAppId()" onchange="getSheetData()">
              <option value="" disabled selected hidden>Choose your Qlik Application</option>
            </select>
          </div>
          <div class="col-12">
            <select class="form-control mb-4" id="app2" onclick="getSheetId()">
              <option value="" disabled selected hidden>Choose your Qlik Sheet</option>
            </select>
          </div>
          <div class="col-12">
            <select class="form-control mb-4" class="selectpicker" title="Choose one of the following..." id="app3" data-selected-text-format="count > 3" multiple data-max-options="4" onclick="getObjectData()" >
            </select>
          </div>
          <div class="col-12">
              <label for="">
                <input type="checkbox" onclick="addObject()"> Accept Terms and condition
              </label>
          </div>
          <div class="col-12 create">
            <button type="button" class="btn btn-primary btn-lg" style="height: 3.5em;" id="submitbutton">Create Mashup <span class="fa fa-arrow-right"></span></button>

          </div>
        </div>
      </form>
    </div>
  

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

    <script>
  let select=document.getElementById("app1");
  let select1=document.getElementById("app2");
  let select2=document.getElementById("app3");

  $(document).ready(function() {

      const LoadAppData=function() {
      return new Promise ((resolve,reject)=>{
        const docList = {
            handle: -1,
            method: "GetDocList",
            params: [],
            outKey: -1,
            id: 1,
        };
        const appList_ws = new WebSocket(
            "wss://" + "qlikdemo.polestarllp.com" + "/app/%3Ftransient%3D?reloadUri=https://" + "qlikdemo.polestarllp.com" + "/dev-hub/engine-api-explorer&v="+ new Date()
        );
    
        appList_ws.onopen = function (msg) {
            console.log("App list connection opened");
            appList_ws.send(JSON.stringify(docList));
        };
        
        appList_ws.onerror = function () {
            console.log("Error!!", "Some issues fetching app list");
        };
    
        appList_ws.onmessage = function (data) {
            var wsres = JSON.parse(data.data);
            console.log(wsres);
            if (wsres.method === "OnConnected") {
                console.log(wsres);
            } else if (wsres.id === 1) {  
                // localStorage.setItem('app1',wsres.result.qDocList);
                // localStorage['app1']=wsres.result.qDocList;

                resolve(wsres.result.qDocList);
                console.log(wsres.result.qDocList);
            }
        };
    })

}
       
        window.qlik=LoadAppData().then((result)=>{  
          window.qlik=result;  
          for(const val of  window.qlik){
            var option=document.createElement("option");
            option.value=val.qDocId;
            option.text=val.qDocName;
            select.appendChild(option); 
          }
        });
      $(".navbar-brand").click(function(){
      $(".navbar-toggler").addClass("collapsed");
      $(".navbar-toggler").attr("aria-expanded","false");
      $(".navbar-collapse").removeClass("show"); });
    });

  function getAppId(){
        let value=$("#app1 option:selected").val();
        if(value!=""){
          localStorage.setItem("appId",value);
        }
  }

  function getSheetData(){
    const LoadSheetData = function () {
      return new Promise((resolve, reject) => {
        var OpenDoc = {
          handle: -1,
          method: "OpenDoc",
          params: [localStorage.getItem("appId")],
          outKey: -1,
          id: 1,
        };

        var getObjects = {
          handle: 1,
          method: "GetObjects",
          params: {
            qOptions: {
              qTypes: ["sheet"],
              qIncludeSessionObjects: false,
              qData: {
                title: "/qMetaDef/title",
                description: "/qMetaDef/description",
                thumbnail: "/thumbnail",
                cells: "/cells",
                rank: "/rank",
                columns: "/columns",
                rows: "/rows"

              },
            },
          },
          outKey: -1,
          id: 2,
        };
        var sheetList_ws = new WebSocket(
          "wss://" +
            "qlikdemo.polestarllp.com" +
            "/app/" +
            localStorage.getItem("appId") +
            "?reloadUri=https://" +
            "qlikdemo.polestarllp.com" +
            "/dev-hub/engine-api-explorer&v" +
            new Date()
        );

        sheetList_ws.onopen = function (msg) {
          console.log("Sheet list connection opened");
          sheetList_ws.send(JSON.stringify(OpenDoc));
        };

        sheetList_ws.onerror = function () {
          console.log("Error!!", "Some issues fetching app list");
        };

        sheetList_ws.onmessage = function (data, flags) {
          var wsres = JSON.parse(data.data);
          if (wsres.id === 1) {
            sheetList_ws.send(JSON.stringify(getObjects));
          }
          if (wsres.id === 2) {
            console.log(wsres.result.qList);
            resolve(wsres.result.qList);
          }
        };
      });
    };
        window.sheet = LoadSheetData().then((result)=>{
        window.sheet=result;
        let i=0;
        for(const val of window.sheet){
          var option=document.createElement("option");
          option.value=i++;
          option.text=val.qMeta.title;
          select1.appendChild(option);
        }      
    })
  }
  
  function getSheetId(){
        let value=$("#app2 option:selected").val();
        if(value!=""){
          localStorage.setItem("sheetNo",value);
        }
  }
  function getObjectData(){
      let i=0;
      for(const val of window.sheet){
        if(localStorage.getItem("sheetNo")==i++){
          let array=val.qData.cells;
          console.log(array);
          for(let j=0;j<array.length;j++){
              var option=document.createElement("option");
              option.value=array[j].name;
              option.text=array[j].name;
              select2.appendChild(option);
          }
          break;
         }
      }
      $('#app3').selectpicker();
  }

  function addObject(){
    var selectedItem = $('#app3').val();
    window.object1=selectedItem[0];
    localStorage.setItem("object1",selectedItem[0]);
    localStorage.setItem("object2",selectedItem[1]);
    localStorage.setItem("object3",selectedItem[2]);
    localStorage.setItem("object4",selectedItem[3]);
    localStorage.setItem("name",document.getElementById("name").value);
  }

  $("#submitbutton").on("click",()=>{
    $.ajax({
        url:"/auth/addMashup",
        method:"POST",
        data:{
          name:localStorage.getItem("name"),
          appId:localStorage.getItem("appId"), 
          object1:localStorage.getItem("object1"),
          object2:localStorage.getItem("object2"),
          object3:localStorage.getItem("object3"),
          object4:localStorage.getItem("object4"),
        },
        success:function(response) {
         console.log("success");
       },
       error:function(){
        alert("error");
       }
    });
  })
  </script>
  </body>
</html>