<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/main.css" />
    <link rel="stylesheet" href="/adduser.css" />
    <title>MashUp Generator</title>
  </head>
  <body>
    <div class="container-fluid px-0">
      <nav class="navbar navbar-expand-md navbar-dark bg-black px-0">
        <a
          class="navbar-brand mr-5"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        ><img id="logo" src="https://i.imgur.com/K7Nwq4V.jpg" />
          &nbsp;&nbsp;&nbsp;{{name}}<span class="dropdown-toggle"></span></a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Profile</a>
          <a class="dropdown-item" href="/logout">Logout</a></div>
        <button
          class="navbar-toggler mr-3"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        > <span class="navbar-toggler-icon"></span> </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/main"><span class="fa fa-home"></span>
                Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/config"><span
                  class="fa fa-group"
                ></span>
                Configuration</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><span
                  class="fa fa-line-chart"
                ></span>
                MashUp</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><span class="fa fa-comment"></span>
                Feedback</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="container">
      <h4><button class="btn btn-danger btn-lg" style="margin-right:2em;"><a href="/adduser" style="text-decoration: none; color:white;">Add User</a></button>List All Users</h4>
      <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email Address</th>
          </tr>
        </thead>
        {{#each user}}
        <tbody>
          <td>{{this.id}}</td>
          <td>{{this.name}}</td>
          <td>{{this.email}}</td>
        </tbody>
        {{/each}}
      </table>
    </div>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script>
      $(document).ready(function(){ $(".navbar-brand").click(function(){
      $(".navbar-toggler").addClass("collapsed");
      $(".navbar-toggler").attr("aria-expanded","false");
      $(".navbar-collapse").removeClass("show"); }); });
    </script>
  </body>
</html>