@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

.input-box{
    color: white !important;
    font-weight: bold !important;
}

.users_list{
    background-color: grey !important;
}

.contact input {
    margin-top: 10px;
    background:white;
    color: black;
    /* caret-color: #fff; */
    border: 1px solid black
}

.contact textarea {
    margin-top: 10px;
    background: white;
    color: black;
    /* caret-color: #fff; */
    border: 1px solid black
}

.contact input:focus {
    margin-top: 10px;
    color: black;
    background: white;
    border: 1px solid black
}

.contact textarea:focus {
    margin-top: 10px;
    color:black;
    background: white;
    border: 1px solid black
}

.contact input::placeholder {
    color:black;
    font-weight: 500
}

.contact textarea::placeholder {
    color: black;
    font-weight: 500
}

.btn-success {
    color:black;
    background-color:red;
    border-color: red
}

.btn-success:hover {
    color:black;
    background-color: red;
    border-color: red
}

.btn-success.focus,
.btn-success:focus {
    box-shadow: 0 0 0 0rem rgb(255, 255, 255)
}

form{
    padding-bottom: 2em;
}
.btn-success:not(:disabled):not(.disabled):active,
.show>.btn-success.dropdown-toggle {
    color:black;
    background-color: red;
    border-color: red
}

.list{
    margin-top: 10em;
}